# I'm not sure whether I want to commit the files in old/.
old

# Running notes for the next commit(s)
commit-message*

# Quinn's special off-the-record notes-to-self.
qdw-*

# Compiled objects
.pyc .elc .o

# OpenOffice lock files (for when you commit a file that's open in OOo)
.~lock.*odt#

# PyCharm project files
.idea

# Emacs
*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
tramp
history
auto-save-list
desktop

# Stuff ~/dotfiles should ignore (temporarily). Don't mess with this.
key-corto
