[push]
	default = current

[user]
	name  = Quinn Weaver
	email = quinn@pgexperts.com

[alias]
	co = checkout
        # dry-run-merge = merge --no-commit --no-ff
	no = diff --name-only
	stat = status
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
        last = "!sh -c 'if [ $# -eq 0 ] ; then git diff HEAD~1 HEAD ; else git diff HEAD~`expr $1 + 1` HEAD~$1 ; fi' -"

[core]
	excludesfile = ~/.gitignore

[diff]
	color = auto
	tool  = git diff --patience

[merge]
	renamelimit=10500

