[user]
	name  = Quinn Weaver
	email = quinn@fairpath.com

[push]
	default = upstream

[merge]
	renamelimit=10500

[branch]
	autosetuprebase = always

[diff]
	color = auto
	tool  = git diff --patience

[alias]
	co = checkout
        dry-run = merge --no-commit --no-ff
	no = diff --name-only
	stat = status
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	last = "!sh -c 'if [ $# -eq 0 ] ; then git diff HEAD~1 HEAD ; else git diff HEAD~`expr $1 + 1` HEAD~$1 ; fi' -"
	last-no = "!sh -c 'if [ $# -eq 0 ] ; then git diff --name-only HEAD~1 HEAD ; else git diff --name-only HEAD~`expr $1 + 1` HEAD~$1 ; fi' -"

[core]
	excludesfile = ~/.gitignore
	ignorecase = false
