[push]
	default = current

[user]
	name  = Quinn Weaver
	email = quinn@pgexperts.com

[alias]
	co = checkout
        # dry-run-merge = merge --no-commit --no-ff
	no = diff --name-only
	stat = status
	tree = log --graph --decorate --pretty=oneline --abbrev-commit

[core]
	excludesfile = ~/.gitignore

[diff]
	color = auto
	tool  = git diff --patience
